@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Questrial&display=swap');

@import url("components/container.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/list-inline.css");
@import url("components/paragraph.css");

body {
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	font-weight: 300;
	background-color: white;
	margin : 0px 
}

h1, h2, h3 {
	color:  black;
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	margin: 15px 20px;
}
a {
	text-decoration: none;
}

.banner-text {
	color: white;
}

